/* Todo.css */

.Todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:575px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color:rgb(75, 29, 29);
  }
  
  .Todo p {
    margin: 0;
    cursor: pointer;
  }
  
  .Todo p.completed {
    text-decoration: line-through;
    color: #888;
  }
  
  .Todo div {
    display: flex;
  }
  
  .Todo div > * {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .Todo div > *:first-child {
    margin-left: 0;
  }
  